extends layout

block content
  h1= title
  a(href="/") To Home
  h3 アーニャ.フォージャー
  ul
    li 年齢: 6つ
    li 身長:
    li 体重:
  img.image(src="../static/images/anya.jpg")
  img.image(src="../static/images/anya_1.jpg")