body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.submit {
    margin-top: 10px;
    margin-left: 100px;
}

ul {
    background: #f3fbff;
    border: 1px palegreen dashed;
    display: inline-block;
    margin-right: 20px;
}